body {
    font-family: 'Roboto', sans-serif;
    background-color:#FFFFFF;  
    color: var(--primary-text-color)
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}
:root {
    --light-cloud-color:#F4F4FD;
    --background-color:#FFFFFF;
    --borders-accent-color:#E7E9FC;
    --primary-brand-color:#4D5AE5;
    --title-color:#2E2F42;
    --primary-text-color:#434455;
    --pressed-state-color:#404BBF;
    --active-navigation-color:#9747FF;
    --cards-gap:24px;
}

.container{
    width: 1440px;
    margin: 0 auto;
}
.section{
    padding-left: 156px;
    padding-right: 156px;
}

/* LOGO */


.link-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* identical to box height, or 117% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);

}

a {
    text-decoration: none;
}
.logo-studio {
    color: var(--title-color);
}
/* HEADER*/


.header{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-color: var(--borders-accent-color);
}

.container-nav{
    display: flex;
}

.list-header{
    display: flex;
}

.link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color:var(--title-color);
    margin-left: 24px;
}

.link-header:hover , .link-header:focus {
    color: var(--pressed-state-color);
}
.address {
    font-style: normal;
}
.list-address{
    display: flex;
}
.link-address {
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-shadow: var(--borders-accent-color);
    margin-left: 24px;
}
.link-address:hover , .link-address:focus {
    color: var(--pressed-state-color);
}


/* MAIN PAGE */

.hero {
    background-color: var(--title-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}
.container-hero{
    width: 1440px;
    margin: 0 auto;
}
.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    letter-spacing: 0.02em;
    color: var(--background-color);
    margin-bottom: 48px;
   
}
.order-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    color: var(--background-color);
    background-color: var(--primary-brand-color);
    border-radius: 4px;
    min-width: 169px;
    padding: 16px 32px;
}

.order-btn:hover , .order-btn:focus {
    background-color: var(--pressed-state-color);
    cursor: pointer;
}

/*FEATURES*/

.features{
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-features{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--cards-gap));

}
.list-features-item{
  margin-left: var(--cards-gap);
  flex-basis: calc(100%/ 4 - var(--cards-gap));
}
.subject {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
}

/*What are we doing*/

.title-images {
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}
.container-images{
    padding-bottom: 120px;
}
.list-images{
    display: flex;
    margin-left: calc(-1 * var(--cards-gap));
}
.list-images-item{
    margin-left: var(--cards-gap);
}

/*Our team*/

.container-team--cards{
    background-color: var(--light-cloud-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-team {
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    padding-bottom: 72px;
}
.list-team{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--cards-gap));
}
.list-team-item {
    background-color: var(--background-color);
    margin-left: var(--cards-gap);
    flex-basis: calc(100%/ 4 - var(--cards-gap));
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 var(--title-color);
}
.caption-img{
    padding: 32px;
}
.title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.position {
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* FOOTER */

.footer {
    background-color: var(--title-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer-studio {
    color: var(--light-cloud-color);
}
.footer-text {
    color: var(--light-cloud-color);
    margin-top: 16px;
}
/* PORTFOLIO PAGE */

.container-filters{
    padding-top: 102px;
    padding-bottom: 72px;
    display: flex;
    justify-content: center;
}
.filter-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--light-cloud-color);
    border-radius: 4px;
    border-color:  var(--borders-accent-color) ;
    padding: 12px 24px;
    margin-left: var(--cards-gap);
    min-width: 69px;
}
.filter-item:hover , .filter-item:focus {
    background-color: var(--pressed-state-color);
    color: var(--background-color);
    cursor: pointer;
}

.product-set {
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--cards-gap));
    margin-top: -48px;
}

.product-item {
    margin-top: 48px;
    margin-left: var(--cards-gap);
    flex-basis: calc(100% / 3 -  var(--cards-gap));
    border: 1px solid;
    border-color: var(--borders-accent-color);
}
.title-product {
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.product-desc {
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-top: 8px;
}
.caption-product{
    padding: 32px 0 32px 16px;
}